mixin card(imgUrl, altName, title, desc1, desc2, label, filter)
  - var className = `card__image ${filter}`;
  article.card
    h2.card__title= title
    .card__image-container
      img(class=className, src=imgUrl, alt=altName)
      span.card__label= label
    .card__content
      p.card__desc= desc1
      p.card__desc= desc2
    .card__buttons
      include ../buttons/card__icon-button/card__icon-button
      button.card__like-button.button
        span.button__text Like
